body {
    font-family: 'Cabin Sketch', cursive;
    display: flex;
    justify-items: center;
    flex-direction: column;
    width: 100%;
    background: #ff6f01 url("fundo.jpg") no-repeat  ;
    background-size: cover;
  }
  
  header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }

  .imagem-e-texto {
    padding: 10px;
    margin: 0 0 0 0;
    font-weight: bold;
    font-size: 30px;
  }

  .pizza {
    width: 300px;
  }

  .burguer {
    width: 510px;
  }

  .porcoes {
    width: 300px;
  }

  .fundo {
    width: 100%;
    background-size: cover;
  }
  
  h1 {
    margin: 0;
  }
  
  nav {
    background: linear-gradient(goldenrod, red, black);
    color: whitesmoke;
    display: flex;
    padding: 11px 0px 10px 7px;
    margin: 3px 0px 160px -2px;
  }

  .nav-sobre-contato-carrinho {
    margin: 0 0 0 300px;
  }

  .nav-sobre{
    transition: 1.2s;
  }
  
  .nav-sobre:hover {
    transform: scale(1.2);
  }

  .nav-carrinho {
    transition: 1.2s;
  }

  .nav-carrinho:hover {
    transform: scale(1.2);
  }

  .nav-contato {
    transition: 1.2s;
  }

  .nav-contato:hover {
    transform: scale(1.2);
  }
 
  nav ul {
    list-style: none;
    margin: -7px 0px 0px 525px;
    padding: 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 22px;
    
  }
  
  nav li {
    margin: 0px 212px 8px 0px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
 
  main {
    padding: auto;
  }

  section {
    color: #f2f2f2;
  }

  div {
    display: flex;
    position: relative;
  }

  .divpizza {
    border: dashed;
    border-width: 8px;
    border-color: white;
    position: absolute;
    margin: 0px 0px 0px 125px;
    padding: 0px 5px 0px 5px;
    font-size: 23px;
    text-align: center;
    transition: 1.2s;
  }

  .divburguer {
    border: dashed;
    border-width: 8px;
    border-color: white;
    position: absolute;
    margin: 0px 0px 0px 574px;
    padding: 0px 5px 0px 5px;
    font-size: 23px;
    text-align: center;
    transition: 1.2s;
  }

  .divporcoes {
    border: dashed;
    border-width: 8px;
    border-color: white;
    position: absolute;
    margin: 0px 0px 0px 1093px;
    padding: 0px 5px 0px 5px;
    font-size: 23px;
    text-align: center;
    transition: 1.2s;
  }

  .divcontato {
    display: flex;
    border: dashed;
    border-width: 8px;
    border-color: white;
    flex-direction: column-reverse;
    margin: 235px 0px 57px 603px;
    padding: 15px 15px 15px 15px;
    font-size: 22px;
    text-align: center;
    transition: 1.2s;
  }

  .divpizza:hover {
    transform: scale(1.2);
  }

  .divburguer:hover {
    transform: scale(1.2);
  }

  .divporcoes:hover {
    transform: scale(1.2);
  }

  .divcontato:hover {
    transform: scale(1.2);
  }

  .divsobre {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 22px;
    text-align: center;
    margin: 0 0 323px 0;
  }
  
  footer {
    background: linear-gradient(goldenrod, red, black);
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 22px;
    text-decoration: underline;
  }

  @media screen and (max-width: 480px) {
    .principal, .input-padrao, .fundodaopcao, .medidor, .enviar {
      width: auto;
    }
  
    h1 {
      text-align: center;
    }
  
    p {
      text-align: center;
    }
  }  