body {
    font-family: 'Cabin Sketch', cursive;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #ff6f01 url("fundo.jpg") no-repeat  ;
    background-size: cover;
  }
  
  header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }

  .imagem-e-texto {
    padding: 10px;
    margin: 0 0 0 0;
    font-weight: bold;
    font-size: 30px;
  }
  
  .pizza {
    width: 300px;
  }

  .burguer {
    width: 510px;
  }

  .porcoes {
    width: 300px;
  }

  .fundo {
    width: 100%;
    background-size: cover;
  }
  
  h1 {
    margin: 0;
  }
  
  nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    margin: -7px 0px 0px 525px;
    padding: 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    
  }
  
  nav li {
    margin-right: 20px;
    margin: 0 0 0 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }

  form section {
    color: #f2f2f2;
  }

  .divpizza {
    border: dashed;
    border-width: 8px;
    border-color: white;
    position: absolute;
    margin: 0px 0px 0px 125px;
    padding: 0px 5px 0px 5px;
    font-size: 23px;
    text-align: center;
  }

  .divburguer {
    border: dashed;
    border-width: 8px;
    border-color: white;
    position: absolute;
    margin: 0px 0px 0px 532px;
    padding: 0px 5px 0px 5px;
    font-size: 23px;
    text-align: center;
  }

  .divporcoes {
    border: dashed;
    border-width: 8px;
    border-color: white;
    position: absolute;
    margin: 0px 0px 0px 1024px;
    padding: 0px 5px 0px 5px;
    font-size: 23px;
    text-align: center;
  }

  .contato {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 22px;
    text-align: center;
    margin: 0 0 0 0;
  }

  .carrinho {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 22px;
    text-align: center;
    margin: 0 0 240px 0;
    padding: 227px 0px 0px 0px;
  }

  .sobre {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 22px;
    text-align: center;
    margin: 0 0 0 0;
  }

  section {
    margin-bottom: 20px;
  }
  
  footer {
    background:linear-gradient(black, darkorange, darkred, black);
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 22px;
    text-decoration: underline;
  }